.footer {
    margin-top: 5%;
    background-color: #f2f4f8;

    ul {
        display: flex;
        margin-left: 30px;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: #99a1b3;
            font-size: 12px;
            margin-right: 10px;
        }
    }
    
    &_bottom {
        padding: 10px 30px;
        border-top: 1px solid #ffff;
        display: flex;
        align-items: center;
        color: #99a1b3;

        img {
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 640px) {
    .footer {
        display: none;
    }
}