.content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 780px) {
    .content { 
        padding: 0 2%;
    }

    .main_content {
        padding: 0;
    }
}