.search {
    background-color: #f2f4f8;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url('/images/icons/search.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 32%;
        top: 30%;
    }

    
    input {
        border: none;
        border-radius: 5px;
        width: 280px;
        padding: 10px 10px;
     }

     span {
        margin-left: 260px;
        color: #99a1b3;

        &:hover {
            cursor: pointer;
        }
    }

    img:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 780px) {
    .search span { 
        margin: 0;
    }
}