.paginator {
    display: flex;
    justify-content: center;

    .previous {
        box-shadow: 0px 0px 2px #99a1b3;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        margin-right: 2%;

        &:hover {
            cursor: pointer;
        }
        
        img {
            margin-right: 5px;
        }

        span {
            color: #2d313d;
            font-size: 14px;
        }
    }

    .next {
        box-shadow: 0px 0px 2px #99a1b3;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        
        &:hover {
            cursor: pointer;
        }
        
        img {
            margin-left: 5px;
        }

        span {
            color: #2d313d;
            font-size: 14px;
        }
    }
}