.nav {
    background-color: $nav_color;  
    width: 100vw;
    transform: translateY(0); 
   
    
    ul {
        display: flex;

        
        li {
            text-transform: capitalize;
            margin-right: 2%;
            padding: 12px 0;

            &:hover>a {
                border-top: 5px solid #ffffff;
            }
            
            a {
                text-decoration: none;
                color: #ffffff;
                padding: 7px 0;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    .nav {
        transform: translateY(-300px)
    }

    .show {
        transform: translateY(0)
    }
}