@font-face {
    font-family: "Arial_MT";
    font-style: normal;
    font-weight: 400;
    src: url(./Arial_MT/arial.ttf) format("truetype");
    
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 600;
    src: url(./Georgia/ofont.ru_Georgia.ttf) format("truetype");
    
}

@font-face {
    font-family: "Arial_MT";
    font-style: normal;
    font-weight: 700;
    src: url(./Arial_MT/Arial_Bold.ttf) format("truetype");
}