.posts {
    background-color: #ffffff;
    padding: 30px;
   
    .post {
        display: flex;
        align-items: flex-start;
        margin-bottom: 5%;

        
        
        .message {
            margin-left: 2%;

            .top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2px;
               
    
               .name {
                   display: flex;
                   justify-content: space-between;
                   width: 20%;
                   align-items: center;
                   position: relative;

                   .member {
                        background-color: #f2f4f8;
                        padding: 6px 15px;
                        border-radius: 5px;
                        position: absolute;
                        left: 60%;
                   }

                   span {
                    color: #99a1b3;;
                   }
               } 

               .comments {
                   width: 10%;
               }
            }

            h3 {
                color: #4f9cd4;
                line-height: 20px;
                font-family: "Arial_MT";
                font-weight: 700;
            }

            p {
                line-height: 20px;
            }

            span {
                color: #99a1b3;
                font-size: 12px;
            }
        }


    }
}

@media screen and (max-width: 780px) {
    .comments img:first-child{display: none}
    .comments span:first-of-type {
        display: none;
    }
}