.title {
    background-color: #ffff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        background-image: url('/images/icons/Arrom_down_bl.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 49%;
        top: 50%;
    }


     h1 {
         font-size: 35px;
         margin-right: 5%;
     }

     select {
        border: none;
        appearance: none;
        flex-shrink: 0;
        font-size: 35px;
        text-decoration: underline;
        text-decoration-style: dashed;

        &::after {
            content: "";
            width: 2px;
       }  
    }
}

@media screen and (max-width: 780px) {
    .title::before { 
        left: 62%;
    }
}