.aside {
    background-color: $aside_color;
    max-width: 170px;
    width: 100%;
    padding: 2% 0;
    grid-area: "aside";
    box-shadow: -2px 2px 5px #c9c9c9;
    

    ul {

        h2 {
            margin-left: 30px;
            font-family: "Georgian";
            font-size: 18px;
            line-height: 40px;
        }

        li {
            padding: 2px 30px;
            margin: 5% 0;
            font-size: 12px;
            color: #99a1b3;

            &:hover {
                border-left: 5px solid #99a1b3;
                cursor: pointer;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .aside {
        display: none;
    }
}