.header {
    background-color: $header_color;
    width: 100vw;
    color: #646d81;
    padding: 20px 0;
    font-size: 1rem;
    
    
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .js_mobile_menu { 
        display: none
    }

    h2 {
        color: #ffffff;
        font-size: 35px;
        display: none
    }

    .logo {
        max-width: 35px;
        width: 100%; 
        
        img {
            max-width: 100%;
        }
    }

    &_left {
        max-width: 360px;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .icons {
            display: flex;
            align-items: center;
            
            img {
                margin-right: 25px;
            }
        }
        
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background-image: url('/images/icons/arrow_down.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 18%;
            top: 45%;
        }

        select {
            border: none;
            appearance: none;
            flex-shrink: 0;
            background-color: $header_color;
            color: #646d81;
            padding: 0;
            text-decoration: underline;
            text-decoration-style: dashed;
            


           
        }

        img {
            width: 18px;
            
            &:hover {
                cursor: pointer;
            }
        }

        .user {
            display: flex;
            justify-content: space-between;
            flex-shrink: 0;
            width: 30%;

            span {
                margin-left: 1%;
                font-size: 14px;
                padding: 2% 0;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .header_left select,::before{ 
        display: none;
    }
    
    .icons img{
        display: none;
    }

    .user span {
        display: none;
    }

    .header_left img {
        width: 40px;
    }

    .user img {
        width: 60px;
    }

    .header h2 {
        display: inline;
    }

    .header .logo {
        max-width: 100px;
    }
    
    .header_left {
        width: 30%;
    }

    

//    .header .logo img {
    
//    }

   .header .js_mobile_menu {
       display: block;
   }
}