* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arial_MT";
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 780px) {
  .content {
    padding: 0 2%;
  }
  .main_content {
    padding: 0;
  }
}

.header {
  background-color: #2d313d;
  width: 100vw;
  color: #646d81;
  padding: 20px 0;
  font-size: 1rem;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .js_mobile_menu {
  display: none;
}

.header h2 {
  color: #ffffff;
  font-size: 35px;
  display: none;
}

.header .logo {
  max-width: 35px;
  width: 100%;
}

.header .logo img {
  max-width: 100%;
}

.header_left {
  max-width: 360px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_left .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_left .icons img {
  margin-right: 25px;
}

.header_left::before {
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("/images/icons/arrow_down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 18%;
  top: 45%;
}

.header_left select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #2d313d;
  color: #646d81;
  padding: 0;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.header_left img {
  width: 18px;
}

.header_left img:hover {
  cursor: pointer;
}

.header_left .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30%;
}

.header_left .user span {
  margin-left: 1%;
  font-size: 14px;
  padding: 2% 0;
}

@media screen and (max-width: 640px) {
  .header_left select, ::before {
    display: none;
  }
  .icons img {
    display: none;
  }
  .user span {
    display: none;
  }
  .header_left img {
    width: 40px;
  }
  .user img {
    width: 60px;
  }
  .header h2 {
    display: inline;
  }
  .header .logo {
    max-width: 100px;
  }
  .header_left {
    width: 30%;
  }
  .header .js_mobile_menu {
    display: block;
  }
}

.nav {
  background-color: #646d81;
  width: 100vw;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li {
  text-transform: capitalize;
  margin-right: 2%;
  padding: 12px 0;
}

.nav ul li:hover > a {
  border-top: 5px solid #ffffff;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 7px 0;
}

@media screen and (max-width: 640px) {
  .nav {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main {
  background-color: #f2f4f8;
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  background-color: #fcfdfe;
  max-width: 170px;
  width: 100%;
  padding: 2% 0;
  grid-area: "aside";
  -webkit-box-shadow: -2px 2px 5px #c9c9c9;
          box-shadow: -2px 2px 5px #c9c9c9;
}

.aside ul h2 {
  margin-left: 30px;
  font-family: "Georgian";
  font-size: 18px;
  line-height: 40px;
}

.aside ul li {
  padding: 2px 30px;
  margin: 5% 0;
  font-size: 12px;
  color: #99a1b3;
}

.aside ul li:hover {
  border-left: 5px solid #99a1b3;
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 640px) {
  .aside {
    display: none;
  }
}

.footer {
  grid-area: "footer";
}

.posts {
  background-color: #ffffff;
  padding: 30px;
}

.posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5%;
}

.posts .post .message {
  margin-left: 2%;
}

.posts .post .message .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}

.posts .post .message .top .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.posts .post .message .top .name .member {
  background-color: #f2f4f8;
  padding: 6px 15px;
  border-radius: 5px;
  position: absolute;
  left: 60%;
}

.posts .post .message .top .name span {
  color: #99a1b3;
}

.posts .post .message .top .comments {
  width: 10%;
}

.posts .post .message h3 {
  color: #4f9cd4;
  line-height: 20px;
  font-family: "Arial_MT";
  font-weight: 700;
}

.posts .post .message p {
  line-height: 20px;
}

.posts .post .message span {
  color: #99a1b3;
  font-size: 12px;
}

@media screen and (max-width: 780px) {
  .comments img:first-child {
    display: none;
  }
  .comments span:first-of-type {
    display: none;
  }
}

.search {
  background-color: #f2f4f8;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 32%;
  top: 30%;
}

.search input {
  border: none;
  border-radius: 5px;
  width: 280px;
  padding: 10px 10px;
}

.search span {
  margin-left: 260px;
  color: #99a1b3;
}

.search span:hover {
  cursor: pointer;
}

.search img:hover {
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .search span {
    margin: 0;
  }
}

.title {
  background-color: #ffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  position: relative;
}

.title::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("/images/icons/Arrom_down_bl.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 49%;
  top: 50%;
}

.title h1 {
  font-size: 35px;
  margin-right: 5%;
}

.title select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 35px;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.title select::after {
  content: "";
  width: 2px;
}

@media screen and (max-width: 780px) {
  .title::before {
    left: 62%;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-shadow: 2px 2px 6px #c9c9c9;
          box-shadow: 2px 2px 6px #c9c9c9;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginator .previous {
  -webkit-box-shadow: 0px 0px 2px #99a1b3;
          box-shadow: 0px 0px 2px #99a1b3;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  margin-right: 2%;
}

.paginator .previous:hover {
  cursor: pointer;
}

.paginator .previous img {
  margin-right: 5px;
}

.paginator .previous span {
  color: #2d313d;
  font-size: 14px;
}

.paginator .next {
  -webkit-box-shadow: 0px 0px 2px #99a1b3;
          box-shadow: 0px 0px 2px #99a1b3;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.paginator .next:hover {
  cursor: pointer;
}

.paginator .next img {
  margin-left: 5px;
}

.paginator .next span {
  color: #2d313d;
  font-size: 14px;
}

.footer {
  margin-top: 5%;
  background-color: #f2f4f8;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  padding-bottom: 10px;
}

.footer ul a {
  text-decoration: none;
  color: #99a1b3;
  font-size: 12px;
  margin-right: 10px;
}

.footer_bottom {
  padding: 10px 30px;
  border-top: 1px solid #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #99a1b3;
}

.footer_bottom img {
  margin-right: 15px;
}

@media screen and (max-width: 640px) {
  .footer {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */